* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: inline-flex;
    width: 100%;
}

#highScores {
    display:block;
    text-align: left;
    width: 49%;
    padding-left: 10px;
}

header h2 {
    display:block;
    width: 49%;
    text-align: right;
    padding-right: 50px;
}

h1 {
    padding-top: 75px;
    display:block;
    text-align: center;
    
}

p {
    padding-top: 15px;
    display:block;
    text-align: center;
    
}

button {
    margin-left: 47.5%;
    margin-top:50px;

}

#quizQuestions {
    display: block;
    width: 100%;
    height: 90%;
}